language: generic

services:
  - docker

before_install:
  - docker build -t jllacuna/frontend --target development --file Dockerfile.dev .

script:
  - docker run -e CI=true jllacuna/frontend yarn test

# deploy:
#   provider: elasticbeanstalk
#   region: "us-west-1"
#   app: frontend
#   env: "Frontend-env"
#   bucket_name: "elasticbeanstalk-us-west-1-908784734212"
#   bucket_path: frontend
#   on:
#     branch: main
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key: $AWS_SECRET_KEY
