version: '3'

services:
  frontend:
    build:
      context: .
      target: development
      dockerfile: Dockerfile.dev
    environment:
      - NODE_ENV=development
    ports:
      - "3000:3000"
    volumes:
      - /data/app/node_modules
      - .:/data/app
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
